* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, teal, dodgerblue);
    color: #fff;
    min-height: 100vh;
}

p {
    margin: 0;
}

h2 {
    margin-bottom: 0;
}


.cont {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem 2rem;
    /* Adjust padding for smaller screens */
    width: 70%;
    margin: 2rem auto 0;

}

.switch-mode {
    color: #fff;
}

#expenses {

    position: relative;
    z-index: 9999;

}

#header {
    position: relative;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#expenses {
    position: relative;
    z-index: 1;
}

.expense {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);

}


.expense_name {
    width: 60%;
}

.expense_name h2 {
    font-size: 2rem;
}

.expense_amount {
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
}

.expense a {
    border: none;
    color: #fff;
    background-color: transparent;
}

.expense:last-child {
    border-bottom: none;
}


/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .cont {
        width: 80%;
        padding: 2rem;
        /* Adjust padding for smaller screens */
    }

    #header h1 {
        display: none;
    }

    #header .dropdown button {

        width: 100%;
    }

    #header .dropdown-menu {

        width: 80%;
        text-align: center;
        margin: auto;
    }

    #header .dropdown-menu a {
        border-bottom: 1px solid #ccc;
    }

    #header .dropdown-menu a:last-child {
        border: none;
    }

    #header {
        flex-direction: column;
    }

    #expenses .expense .expense_name {
        width: 50%
    }

    #expenses .expense .expense_amount {
        width: 40%
    }

    #expenses .expense .expense_name h2 {
        font-size: 1.4rem;
    }

    #expenses .expense .expense_amount h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .dropdown {
        position: static;
        /* Set static positioning for smaller screens */
        width: 100%;
        /* Make the dropdown full width */
        text-align: center;
    }
}